<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <img src="img/NeoSmartHLogo.png" alt="" style="height: 40px;">
        @* <a class="navbar-brand" href="">NeoSmart</a> *@
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView Roles="SuperAdmin,Admin,Manager,Leader,Trainer,Employee">
            <Authorized>

            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="SuperAdmin">
            <Authorized>

                <li class="nav-link collapsed"><span>Administración</span></li>

                <li class="nav-item">
                    <a @onclick="@(() => OnClick.InvokeAsync(false))" class="nav-link collapsed" href="users">
                        <MudIcon Icon="@Icons.Material.Filled.DeveloperBoard" Class="mr-3" Style="font-size: 1.5 rem;" />
                        <span>Usuarios</span>
                    </a>
                    <a @onclick="@(() => OnClick.InvokeAsync(false))" class="nav-link collapsed" href="companies">
                        <MudIcon Icon="@Icons.Material.Filled.ContentPasteSearch" Class="mr-3" Style="font-size: 1.5 rem;" />
                        <span>Empresas</span>
                    </a>
                    <a @onclick="@(() => OnClick.InvokeAsync(false))" class="nav-link collapsed" href="countries">
                        <MudIcon Icon="@Icons.Material.Filled.Notes" Class="mr-3" Style="font-size: 1.5 rem;" />
                        <span>Paises</span>
                    </a>
                    <a @onclick="@(() => OnClick.InvokeAsync(false))" class="nav-link collapsed" href="Sliders">
                        <MudIcon Icon="@Icons.Material.Filled.BarChart" Class="mr-3" Style="font-size: 1.5 rem;" />
                        <span>Presentación</span>
                    </a>
                </li>

            </Authorized>
        </AuthorizeView>



        <AuthorizeView Roles="SuperAdmin,Admin">
            <Authorized>

                <li class="nav-link collapsed"><span>Maestras</span></li>

                <li class="nav-item">
                    <a @onclick="@(() => OnClick.InvokeAsync(false))" class="nav-link collapsed" href="processes">
                        <MudIcon Icon="@Icons.Material.Filled.DeveloperBoard" Class="mr-3" Style="font-size: 1.5 rem;" />
                        <span>Usuarios</span>
                    </a>
                    <a @onclick="@(() => OnClick.InvokeAsync(false))" class="nav-link collapsed" href="occupations">
                        <MudIcon Icon="@Icons.Material.Filled.ContentPasteSearch" Class="mr-3" Style="font-size: 1.5 rem;" />
                        <span>Cargos</span>
                    </a>
                    <a @onclick="@(() => OnClick.InvokeAsync(false))" class="nav-link collapsed" href="formations">
                        <MudIcon Icon="@Icons.Material.Filled.Notes" Class="mr-3" Style="font-size: 1.5 rem;" />
                        <span>Entrenamientos</span>
                    </a>
                    <a @onclick="@(() => OnClick.InvokeAsync(false))" class="nav-link collapsed" href="topics">
                        <MudIcon Icon="@Icons.Material.Filled.BarChart" Class="mr-3" Style="font-size: 1.5 rem;" />
                        <span>Temas</span>
                    </a>
                    <a @onclick="@(() => OnClick.InvokeAsync(false))" class="nav-link collapsed" href="Trainings">
                        <MudIcon Icon="@Icons.Material.Filled.BarChart" Class="mr-3" Style="font-size: 1.5 rem;" />
                        <span>Capacitaciones</span>
                    </a>
                </li>

                <li class="nav-link collapsed"><span>Gestión</span></li>
                <li class="nav-item">
                    <a @onclick="@(() => OnClick.InvokeAsync(false))" class="nav-link collapsed" href="Requests">
                        <MudIcon Icon="@Icons.Material.Filled.DeveloperBoard" Class="mr-3" Style="font-size: 1.5 rem;" />
                        <span>Solicitudes</span>
                    </a>
                    <a @onclick="@(() => OnClick.InvokeAsync(false))" class="nav-link collapsed" href="Sessions">
                        <MudIcon Icon="@Icons.Material.Filled.ContentPasteSearch" Class="mr-3" Style="font-size: 1.5 rem;" />
                        <span>Agenda</span>
                    </a>
                </li>

                @* <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/processes">
                        <span class="oi oi-book" aria-hidden="true"></span> Procesos
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/occupations">
                        <span class="oi oi-book" aria-hidden="true"></span> Cargos
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/formations">
                        <span class="oi oi-book" aria-hidden="true"></span> Entrenamientos
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/topics">
                        <span class="oi oi-bookmark" aria-hidden="true"></span> Temas
                    </NavLink>
                </div>
                
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Trainings">
                        <span class="oi oi-book" aria-hidden="true"></span> Capacitaciones
                    </NavLink>
                </div>

                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Requests">
                        <span class="oi oi-book" aria-hidden="true"></span> Solicitudes
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/Sessions">
                        <span class="oi oi-book" aria-hidden="true"></span> Agenda
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/users">
                        <span class="oi oi-people" aria-hidden="true"></span> Usuarios
                    </NavLink>
                </div> *@
            </Authorized>
        </AuthorizeView>

        @* <AuthorizeView Roles="SuperAdmin">
        <Authorized>
        <MudDivider></MudDivider>
        <div class="nav-item px-3">
        <NavLink class="nav-link" href="/Sliders">
        <span class="oi oi-book" aria-hidden="true"></span> Sliders
        </NavLink>
        </div>
        <div class="nav-item px-3">
        <NavLink class="nav-link" href="/companies">
        <span class="oi oi-book" aria-hidden="true"></span> Empresas
        </NavLink>
        </div>

        <div class="nav-item px-3">
        <NavLink class="nav-link" href="/countries">
        <span class="oi oi-globe" aria-hidden="true"></span> Paises
        </NavLink>
        </div>
        </Authorized>
        </AuthorizeView>  *@
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    [Parameter] public EventCallback<bool> OnClick { get; set; }
}
