<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <img src="img/NeoSmartHLogo.png" alt="" style="height: 40px;">
        @* <a class="navbar-brand" href="">NeoSmart</a> *@
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView Roles="SuperAdmin,Admin,Manager,Leader,Trainer,Employee">
            <Authorized>

            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="SuperAdmin">
            <Authorized>

                <li class="nav-heading text-primary"><span>Administración</span></li>

                <li class="nav-item">
                    <a @onclick="@(() => OnClick.InvokeAsync(false))" class="nav-link collapsed" href="users">
                        <MudIcon Icon="@Icons.Material.Filled.AccountCircle" Class="mr-3" Style="font-size: 1.5 rem;" />
                        <span>Usuarios</span>
                    </a>
                    <a @onclick="@(() => OnClick.InvokeAsync(false))" class="nav-link collapsed" href="companies">
                        <MudIcon Icon="@Icons.Material.Filled.Domain" Class="mr-3" Style="font-size: 1.5 rem;" />
                        <span>Empresas</span>
                    </a>
                    <a @onclick="@(() => OnClick.InvokeAsync(false))" class="nav-link collapsed" href="countries">
                        <MudIcon Icon="@Icons.Material.Filled.Notes" Class="mr-3" Style="font-size: 1.5 rem;" />
                        <span>Paises</span>
                    </a>
                    <a @onclick="@(() => OnClick.InvokeAsync(false))" class="nav-link collapsed" href="Sliders">
                        <MudIcon Icon="@Icons.Material.Filled.BurstMode" Class="mr-3" Style="font-size: 1.5 rem;" />
                        <span>Presentación</span>
                    </a>
                </li>

            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="SuperAdmin,Admin">
            <Authorized>

                <li class="nav-heading text-primary"><span>Maestras</span></li>

                <li class="nav-item">
                    <a @onclick="@(() => OnClick.InvokeAsync(false))" class="nav-link collapsed" href="processes">
                        <MudIcon Icon="@Icons.Material.Filled.SettingsSuggest" Class="mr-3" Style="font-size: 1.5 rem;" />
                        <span>Procesos</span>
                    </a>
                    <a @onclick="@(() => OnClick.InvokeAsync(false))" class="nav-link collapsed" href="occupations">
                        <MudIcon Icon="@Icons.Material.Filled.Groups" Class="mr-3" Style="font-size: 1.5 rem;" />
                        <span>Cargos</span>
                    </a>
                    <a @onclick="@(() => OnClick.InvokeAsync(false))" class="nav-link collapsed" href="formations">
                        <MudIcon Icon="@Icons.Material.Filled.Notes" Class="mr-3" Style="font-size: 1.5 rem;" />
                        <span>Entrenamientos</span>
                    </a>
                    <a @onclick="@(() => OnClick.InvokeAsync(false))" class="nav-link collapsed" href="topics">
                        <MudIcon Icon="@Icons.Material.Filled.FileDownloadDone" Class="mr-3" Style="font-size: 1.5 rem;" />
                        <span>Temas</span>
                    </a>
                    <a @onclick="@(() => OnClick.InvokeAsync(false))" class="nav-link collapsed" href="Trainings">
                        <MudIcon Icon="@Icons.Material.Filled.CoPresent" Class="mr-3" Style="font-size: 1.5 rem;" />
                        <span>Capacitaciones</span>
                    </a>
                </li>

                <li class="nav-heading text-primary"><span>Gestión</span></li>
                <li class="nav-item">
                    <a @onclick="@(() => OnClick.InvokeAsync(false))" class="nav-link collapsed" href="Requests">
                        <MudIcon Icon="@Icons.Material.Filled.QuestionAnswer" Class="mr-3" Style="font-size: 1.5 rem;" />
                        <span>Solicitudes</span>
                    </a>
                    <a @onclick="@(() => OnClick.InvokeAsync(false))" class="nav-link collapsed" href="Sessions">
                        <MudIcon Icon="@Icons.Material.Filled.EventNote" Class="mr-3" Style="font-size: 1.5 rem;" />
                        <span>Agenda</span>
                    </a>
                </li>

            </Authorized>
        </AuthorizeView>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    [Parameter] public EventCallback<bool> OnClick { get; set; }
}
